<h1>Articles</h1>

<% @articles.each do |a| %>
<h2><%= a.title %></h2>
<h3><%= a.content %></h3>
<p><%= link_to "see", article_path(a), class:"btn btn-primary"  %>
<%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: "Delete #{a.title}?"}  %>
<% end %></p>

<%= link_to "+ Add new Article" , new_article_path(@article)  %>
